/* BASICS */
body{
	background: #fff;
	color:#555;
	font: normal 1em/1.4em 'Ubuntu', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding:0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

a,
a:visited {
	color:#1cc0dc;
	text-decoration:none;
}

a:active,
a:hover {
	color: #999;
	text-decoration: underline;
}

/* HEADER */
header{
	padding: 0;
    margin: 20px 0 10px 0;
}


#logo {
   width: 275px;
    display: block;
    float: left;
}

#page-title {
    color: #777;
    margin: 40px 0 20px 0;
    font-weight: bold;
}

.day-name {
    text-transform: uppercase;
    margin: auto;
}

/* RESPONSIVE MENU */
#m-toggle {
  display: none;
}

#topnav {
    width: 85%;
    float: right;
}

#menu-main-navigation{
    display:block;
}

.sf-menu, .sf-menu * {
    margin:         0;
    padding:        0;
    list-style: none;
}
.sf-menu ul {
    position: absolute;
    top:  -999em;
    width: 12em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
    width: 100%;
    font-size:.85em;
    line-height:1.1em;
    font-weight:normal;
}
.sf-menu li:hover {
    visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
    float: left;
    position: relative;
}
.sf-menu a {
    display: block;
    position: relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    left:           0;
    top:            45px; /* match top ul list item height */
    z-index:        99;
    -webkit-box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
    box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top:            -999em;
}

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left:           12em; /* match ul width */
    top:            0;
}

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top:            -999em;
}

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    left:           10em; /* match ul width */
    top:            0;
}

#topnav {
	width:75%;
	margin: 35px 0 0 0;
}

.sf-menu {
    float:right;
    margin: 30px 0 0 0;
}
.sf-menu a {
    text-decoration:none;
}
.sf-menu li a {
    margin:0;
    padding:10px 15px;
}

.sf-menu li{
    background:#fff;
    margin:0;
	text-align: center;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
    color: #ec4399;
}
.sf-menu li li a {
        border-top: 1px solid #fff;
        background: #e8e8e8;
        padding-left:20px;
}
.sf-menu li li li a{
    padding-left:20px;
    background: #e8e8e8;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    background:#ec4399;
    outline: 0;
    color:#fff;
}
.sf-menu li:hover > a{
    color:#fff;
    background:#ec4399;
}
/* SERVICE BOXES */
#philosophy {
	flex-basis: 90%;
	flex-direction: row;
	display: -webkit-inline-flex; /* Safari */
	display: inline-flex;
	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap:         wrap;
	margin: auto;
}

#group {
	flex-basis: 33%;
	border-radius: 5px;
}
#personal {
	flex-basis: 33%;
	border-radius: 5px;
}

#other {
	align-items: center;
	display: flex;
	flex-basis: 33%;
	justify-content: center;
}

.calm {
    width: 85%;
    display: block;
    margin: 50px auto;
    border-radius: 15px;
}

.service {
    width: 150px;
    display: block;
    margin: 40px auto;
    border-radius: 75px
}


#philosophy h4 {
    color: #777;
	font-weight: bold;
	text-align: center;
    text-transform: uppercase;
}

/* SCHEDULE FLEXBOX */

#schedule {
	width: 100%;
	background: #e0ffff;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0 20px 0;
}

.schedule-grid {
	margin: auto;
	width: 960px;
    padding: 0;
}
.title {
	flex-basis: 100%;
	margin:  0;
	padding: 40px 0 20px 10px;
	color: #777;
	font-weight: bold;
}

.class-list {
	flex-basis: 100%;
	flex-direction: row;
	display: -webkit-inline-flex; /* Safari */
	display: inline-flex;
	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap:         wrap;
	margin: auto;
}


.day {
    flex-basis: 20%;
    text-align: center;
    flex-direction: column;
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-flex-wrap: nowrap; /* Safari */
    flex-wrap: nowrap;
}

.fit-class {
    margin: 5px;
    text-align: center;
    vertical-align: top;
	padding: 5px;
	border-radius:7px;
}
.type {
    padding: 5px;
    height: 125px;
	order: 91;
}

.type p{
	border-radius: 5px;
	margin: 5px 0 0 0;
}
.type h4{
	color: #777;
    margin: 0;
	padding: 0;
}


.class-name {
    height: 44px;
}


/* COLOR AND FONT strength*/

.start-time {
    font-weight: bold;
	padding: 10px;
}
.instructor {
    font-style: italic;
}

.day,
.class-name,
.instructor,
.start-time {
    color: #777;
    margin: 0;
}
.month {
	color: #1cc0dc;
}

.pilates {
	background:#daf7ca;
}
.strength {
	background:#ffd2ea
}
.cardio {
	background:#ffffa9;
}
.comp {
	background:#e0fff;
}


#rates {
    width: 100%;
    background: #ffd2ea;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0 20px 0;
}

.rate-grid {
    margin: auto;
    width: 960px;
    padding: 0;

}

.rate-boxes {
    flex-direction: row;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 20px 10px;
}

.rate-type {
	flex-basis: 50%;
    text-align: left;
    flex-direction: column;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.rate-title {
	color: #777;
	text-transform: uppercase;

}

.option-title {
	color: #777;
	font: bold 1em/1.2em 'Ubuntu', Arial, Helvetica, sans-serif;
	padding: 20px 0 0 0;

}

.rate-info {
	margin: 0 0 10px 0;
}
/* FACEBOOK LINK  */
#social-media {
	margin: 20px auto;
	display: flex;
	justify-content: center;
}

#social-media {
	margin: 20px auto;
}

/* FOOTER */

footer{
	text-align:center;
	background: #ec4399;
    color: #fff;
    clear: both;
	font-size: 1em;
	padding: 5px 0;
}

footer ul{
	margin:0;
	padding:0;
}

#address-block{
	margin: 10px auto;
	padding:0;
}

footer a:active,
footer a:hover {
	color: #fff;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1000px){

	.schedule-grid,
	.rate-grid {
		margin: auto;
		width: 100%;
	}

}

@media screen and (max-width: 920px) {

	/* RESIZE TEXT */
	.day-name,
	.class-name,
	.instructor,
	.start-time,
	.class-type {
		font-size: 1.1em;
	}

  /* RESPONSIVE MENU */
	#m-toggle {
		display: inline-block;
		position: absolute;
		padding: 10px;
		right: 0;
	}

	#m-toggle svg {
		width: 60px;
		vertical-align: middle;
	}

	nav {
		z-index: 10;
		position: absolute;
		-webkit-transform: translate(-150px, 0);
		transform: translate(-150px, 0);
		transition: transform 0.3s ease;
		margin-top: 91px;
	}
	#topnav {
		width: 150px;
		margin: 160px 0 0 0
	}

	.sf-menu a, .sf-menu a:visited {
		background-color: #e8e8e8;
		border-bottom: 1px solid #fff;
}

  nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .open li {
    display: block;
    padding-left: 0;
    width: 100%;
    text-align: left;
  }

  .open li a {
    text-align: left;
    width: 100%;
  }

  .sf-menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* LOGO AND FACEBOOK */
	#logo {
		width: 250px;
	}

	#socmed-top {
		display: none;
	}

	#socmed-bottom {
		display: block;
	}
}
@media screen and (max-width: 700px) {

    /* RESIZE TEXT */
    .day-name,
    .class-name,
    .instructor,
    .start-time ,
    .class-type {
        font-size: 0.9em;
    }


    .type {
        width: 25%;
    }

	#group,
	#personal,
	#other {
		flex-basis: 100%;
	}

	.calm {
  		width: 50%;
	}

}

@media screen and (max-width: 525px) {

    /* RESIZE TEXT */
    .day-name,
    .class-name,
    .instructor,
    .start-time ,
    .class-type {
        font-size: 1.2em;
    }

    .day,
	.rate-type {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

	#rates {
      padding: 0;
	}


}





