/* BASIC SET UP */


body{
	color:#333;
	font-family:'Ubuntu', Arial, Helvetica, sans-serif; 
	font-size:1em;
	line-height:1.4em; 
	font-weight:normal;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	font-family:'Ubuntu', Arial, Helvetica, sans-serif; 
	line-height:120%;
	margin: 0;
	padding:0;
} 


/* SAM CHANGES */
#logo {
   width: 15%;
    display: block;
    float: left;    
}

#page-title {
    color: #777;
    margin: 40px 0 20px 0;
    font-weight: bold;
}

.day-name {
    text-transform: uppercase;
    margin: auto 10px;
}

/* RESPONSIVE MENU */
#m-toggle {
  display: none;
}

#topnav {
    width: 85%;
    float: right;
}

.sf-menu a {
  /*  width: 85px; */
}


/* SCHEDULE FLEXBOX */

.flex-container {
  flex-basis: 960px;
  flex-direction: row;  
  display: -webkit-inline-flex; /* Safari */
  display: inline-flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
}

/* FLEX ORDER */

.day.mon {
	order: 10;
}
.day.tues {
	order: 20;
}
.day.weds {
	order: 30;
}
.day.thurs {
	order: 40;
}
.day.fri {
	order: 50;
}
.day.sat {
	order: 60;
}
.mon.eight {
	order: 71;
}
.mon.nine {
	order: 81;
}
.tues.eight {
	order: 72;
}
.tues.nine {
	order: 82;
}
.tues.plus {
	order: 92;
}
.weds.eight {
	order: 73;
}
.weds.nine {
	order: 83;
}
.weds.plus {
	order: 93;
}
.thurs.eight {
	order: 74;
}
.thurs.nine {
	order: 84;
}
.thurs.plus {
	order: 94;
}
.fri.eight {
	order: 75;
}
.fri.nine {
	order: 85;
}
.fri.plus {
	order: 95;
}
.sat.eight {
	order: 76;
}
.sat.nine {
	order: 86;
}
.sat.plus {
	order: 96;
}

.news-box {
	order: 101;
	width: 590px;
	padding: 20px;
	margin: 30px 5px 5px 5px;
	background: #ECFFBD;
	border-radius: 5px;
}

.babysitting {
	order: 102;
	background:#FFD2EA;
	border-radius: 5px;
	padding: 20px;
	margin: 30px 5px 5px 5px;
	width: 270px;
	text-align:center;

}
.day {
    width: 140px;  /*calc((100% - 50px)/6);*/
    text-align: center;
    flex-direction: column;  
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-flex-wrap: nowrap; /* Safari */
    flex-wrap: nowrap;
	padding: 10px;
}

.fit-class {
	flex-basis: 140px; 
    margin: 5px;
    height: 125px;
    text-align: center;
    vertical-align: top;
		padding: 5px;
		border-radius:7px;
}
.type {
	width: 140px; 
    padding: 5px;
    height: 125px;
	order: 91;
}

.type p{
	border-radius: 5px;
	margin: 5px 0 0 0;
}
.type h4{
	color: #777;
    margin: 0;
	padding: 0;
}



.class-name {
    height: 44px;
}


/* COLOR AND FONT WEIGHTS*/

.start-time {
    font-weight: bold;
	padding: 10px;
}
.instructor {
    font-style: italic;
}

.day,
.class-name, 
.instructor,
.start-time {
    color: #777;
    margin: 0;
}
.month {
	color: #1cc0dc;
}

.pilates {
	background:#F9F7B4;
}
.weights { 
	background:#ECFFBD;
}
.cardio { 
	background:#FFD2EA;
}
.comp { 
	background:#E0FFFF;
}

#schedule {
	margin: auto;
	width: 960px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 920px) {

    /* RESIZE TEXT */
    .day-name 
    .class-name, 
    .instructor,
    .start-time {
        font-size: 1em;
    }
    
  /* RESPONSIVE MENU */  
  #m-toggle {
	display: inline-block;
	position: absolute;
	padding: 10px;
	right: 0;
  }

  #m-toggle svg {
	width: 40px;
	vertical-align: middle;
  }

  nav {
	z-index: 10;
    position: absolute;
    -webkit-transform: translate(-150px, 0);
    transform: translate(-150px, 0);
    transition: transform 0.3s ease;
    margin-top: 91px;
  }
  #topnav {
    width: 100px;
  }
  nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .open li {
	display: block;
	padding-left: 0;
	width: 100%;
	text-align: left;
  }
  
  .open li a {
	text-align: left;
    width: 100%;
  }
  
  .sf-menu {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 860px){
    .flex-container {
        flex-direction: column; 
    }

    .day {
        flex-direction: row;
        width: 100%;
    }
    
    .day-name,
    .fit-class {
        width: 150px
    }
} 

/* PRE-EXISTING CSS */

/* links */
a,
a:visited,
a:active,
a:hover{color:#999;
	text-decoration:none;
}

  
/* structure */   
.wrapper, #colophon{
	margin: 10px auto;
	padding:0;
}
header{ 
	padding:10px 0 0 0;
    margin: 0;
}
#banner{ 
	text-align:center;
}
	
#hero{
	background:#e0ffff;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	padding:40px 0 40px 0;
	color:#000;
	
}
hgroup h1{ 
	font-size:2em;
	margin-top:0px;
	color:#1cc0dc;
	}
hgroup h2{ 
	font-size:1.4em;
	margin-top:0px;
	color:#1cc0dc;
	}

.flexslider{
	display:none;
}

p{
	margin:10px 0 10px 0;
	/* color: #1cc0dc; */
}

/*MAIN MENU*/

.sf-menu{
	
}	
.sf-menu.toggled-on{
	display:block;
}

.sf-menu{
	clear:both;
	margin-bottom:60px;
	
}
.sf-menu li a {
	background:#efefef;
	display:block;
	margin:1px 0; 
	padding:5px;
	text-decoration:none;
    text-align: center;
}
.sf-menu li a:hover{
	background:#ec4399;
	color:#fff;
}
.sf-menu li li a {
	background:#EFEFEF;
	padding-left:40px;
}
.sf-menu li li li a {
	background:#efefef;
	padding-left:80px;
}

/*SECONDARY MENU*/
#secondary-navigation{
	margin-bottom:60px;
}
#secondary-navigation ul{
	margin:0;
	padding:0;
}
#secondary-navigation ul li a{ 
	background:#E6E6E6;
	display:block;
	margin:5px 0; 
	padding:10px;
	text-decoration:none;
}
#secondary-navigation ul li a:hover{
	background:#0099ff;
	color:#fff;
}

footer{  
	clear:both;
	font-size:1em;
	padding:5px 0;
	text-align:center;
}
footer ul{
	margin:0;
	padding:0;
}

/*colors and backgrounds*/
body{
	background:#FFF;
}
h1, h2, h3, h4, h5, h6{

}

footer{ 
	background:#FFF;
	color:#ec4399;
}
footer a,
a:visited,
a:active,
a:hover{color:#1cc0dc;
	text-decoration:none;
}
footer h1, footer h2, footer h3, footer h4{ 
	color:#CCC; 
	margin-bottom:10px;
}
footer ul{
	margin:0 0 0 8%;
}

a.bluelink{ 
	background:#1cc0dc; 
	border-radius:7px; 
	color:#fff;
	display:block;
	float:left; 
	margin:10px 15px 10px 0; 
	padding:10px;
	text-decoration:none;
}
a.bluelink:hover{
	background:#ec4399;
}


/* ==|== non-semantic helper classes ========================================
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.rightfloat{
	float:right;
}
.leftfloat{
	float:left;
}


@media only screen and (min-width: 481px) {
#banner{
	float:left;
	text-align:left;
}
.menu-toggle{/*make menu float right, instead of sitting under the logo*/
	margin-top:60px; /*this depends on the height of the logo*/
	float:right;
}

} 

@media only screen and (min-width: 921px) {

    .wrapper, #colophon{
        max-width: 1200px; 
        margin: 0;
        padding: 0 .75em;
    }

    #banner{ 
        float:left; 
        text-align:left;
        padding-right:2%;
        width:300px;
    }

    #hero{
        padding:40px 0 10px 0;
    }

    #content {  
        float:left;
        width:65%;
        margin:0 0 40px 0;
    }

    .flexslider{
        display:block;
        width:57%;
        float:right;
    }

    aside { 
        float:right;
        width:30%;
        margin:0 0 40px 0;
    }

    /*** MAIN MENU - ESSENTIAL STYLES ***/

    .menu-toggle{display:none;}
    #menu-main-navigation{
        display:block;
        }

    .sf-menu, .sf-menu * {
        margin:			0;
        padding:		0;
        list-style:		none;
    }
    .sf-menu ul {
        position:		absolute;
        top:			-999em;
        width:			12em; /* left offset of submenus need to match (see below) */
    }
    .sf-menu ul li {
        width:			100%;
        font-size:.85em;
        line-height:1.1em; 
        font-weight:normal;
    }
    .sf-menu li:hover {
        visibility:		inherit; /* fixes IE7 'sticky bug' */
    }
    .sf-menu li {
        float:			left;
        position:		relative;
    }
    .sf-menu a {
        display:		block;
        position:		relative;
    }
    .sf-menu li:hover ul,
    .sf-menu li.sfHover ul {
        left:			0;
        top:			45px; /* match top ul list item height */
        z-index:		99;
        -webkit-box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
        box-shadow:  2px 3px 2px 0px rgba(00, 00, 00, .3);
    }
    ul.sf-menu li:hover li ul,
    ul.sf-menu li.sfHover li ul {
        top:			-999em;
    }
    ul.sf-menu li li:hover ul,
    ul.sf-menu li li.sfHover ul {
        left:			12em; /* match ul width */
        top:			0;
    }
    ul.sf-menu li li:hover li ul,
    ul.sf-menu li li.sfHover li ul {
        top:			-999em;
    }
    ul.sf-menu li li li:hover ul,
    ul.sf-menu li li li.sfHover ul {
        left:			10em; /* match ul width */
        top:			0;
    }

    /*** DEMO SKIN ***/
    #topnav, .sf-menu {
        float:right;
        margin: 1em 0 0 0;
    }
    .sf-menu a {
        text-decoration:none;
    }
    .sf-menu li a {
        background:#fff;
        margin:0; 
        padding:10px 15px;
        height:25px;
    }
    .sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
        color:			#ec4399;	
    }
    .sf-menu li li a {
            border-top:		1px solid #fff;
            background:		#e8e8e8;
            padding-left:20px;
    }
    .sf-menu li li li a{
        padding-left:20px;
        background:	#e8e8e8;
    }
    .sf-menu li:hover, .sf-menu li.sfHover,
    .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
        background:#ec4399;
        outline:		0;
        color:#fff;
    }
    .sf-menu li:hover > a{ 
        color:#fff;
        background:#ec4399;
    }


    /*GRID*/
    /*
     & Columns : 12 

     */
    .grid_1 { width: 5%; }
    .grid_2 { width: 13.333333333333%; }
    .grid_3 { width: 21.666666666667%; }
    .grid_4 { width: 30%; }
    .grid_5 { width: 38.333333333333%; }
    .grid_6 { width: 46.666666666667%; }
    .grid_7 { width: 55%; }
    .grid_8 { width: 63.333333333333%; }
    .grid_9 { width: 71.666666666667%; }
    .grid_10 { width: 80%; }
    .grid_11 { width: 88.333333333333%; }
    .grid_12 { width: 96.666666666667%; }

    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12 {
        margin-left: 1.6666666666667%;
        margin-right: 1.6666666666667%;
        float: left;
        display: block;
    }

    .alpha{margin-left:0px;}
    .omega{margin-right:0px;}
    /* @
     * tinyfluidgrid.com
     & girlfriendnyc.com
     */

}


@media only screen and (max-width: 1020px) {
    .sf-menu li a { 
        padding:10px;
        height:25px;
    }
} 

/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {

} 

/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {


} 

/*
iPHONE 5 MEDIA QUERY
iPhone 5 or iPod Touch 5th generation styles (you can include your own file if you want)
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) { 

  
}

/*
PRINT STYLESHEET
*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
